            body {
              
             
                background-color: #f6e652;
                position: relative;
                font-family: 'Roboto', sans-serif;
                width: 97%;
                
            }

            .bg {
            box-sizing: border-box;
            width: 920px;
            height: 920px;
            background-color: #f6e652;
            position: relative;
            margin: auto;

        }
            
            .circle1 {
                box-sizing: border-box;
                width: 280px;
                height: 280px;
                border-radius: 50%;

                text-align: center;
                padding-top: 60px;
                background-color: #FF6500;
                
                top: -75px;
                left: 139px;
                color:#f6e652;
                position: absolute;
            }

            
 .circle2 {
                box-sizing: border-box;
                width: 220px;
                height: 220px;
                border-radius: 50%;
                
                font-size: 13px;
                text-align:left; 
                padding:20px;
                background-color: #97461D;
               
                top: 230px;
                left: 30px;
                color:#FCF3FF;
                padding-top:65px;
                 padding-left:30px;
                position: absolute;
                 
            }

            .circle2 table {
            margin: auto;
        }

            .circle3 {
                box-sizing: border-box;
                width: 450px;
                height:450px;
                border-radius: 50%;

                text-align: center;
                padding-top: 65px;
                background-color: #FFFFFF;
                
                top:180px;
                left:230px;
                color:#833300;
                position: absolute;
            }
            
            .circle4 {
                box-sizing: border-box;
                background-image: url(pika2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                width: 190px;
                height: 190px;
                border-radius: 50%;
                padding-top: 30px;
                 padding-left: 30px;
                background-color: #FFFFFF;
                
                top: 110px;
                left: 580px;
                position: absolute;

            }

            .circle5 {
                box-sizing: border-box;
                width: 100px;
                height: 100px;
                border-radius: 50%;

                text-align: center;
                padding-top: 10px;
                background-color: #97461D;
                
                bottom: 50px;
                right: 50px;
                color:#FFFFFF;
                position: fixed;
                padding-top: 5px;
            }

            .circle6 {
                
                box-sizing: border-box;
                width: 150px;
                height: 150px;
                border-radius: 50%;

                font-size: 12px;
                text-align: center;
                padding-top:55px;
                background-color: #FF6500;

                
                bottom: 150px;
                left: 250px;
                color:#f6e652;
                position: absolute;


            }
