        p.aquamarine {
            background-color: #F9A3C4;
            width: 30%;

            padding: 10%;
            padding-left: 20%;
            line-height: 40px;
            margin: 20px;
            margin top: 20px;
            margin-bottom: 200px;
            margin: auto;
            border-style: dotted;
            border-color: #FFFFFF;
            border-width: 3px;
            border-radius: 20px;
            background-image: url(images/star-none.png);
            background-position: top padding-left;
            background-repeat: no-repeat;
        }
