@font-face {
    font-family: "Emblema One";
    src: url("http://bye7733.github.io/journal/font/EmblemaOne-Regular.ttf"), 
    url("http://bye7733.github.io/journal/font/EmblemaOne-Regular.woff");
}



body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}



h1 {
    font-size: 200%;
    font-family: "Emblema One";
}

h2 {

    font-size: 125%;
}
